<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered has-text-weight-bold">
      <h1 class="title ">
        Gem Files 
      </h1>
      <h2 class="subtitle">
        Learn about hub gems!
      </h2>
    </div>
  </div>
</section>

<div class="has-text-centered">
    <%= link_to "Check Gems here!", to="#", class: "button is-primary" %>
</div>