<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered has-text-weight-bold">
      <h1 class="title ">
        Gem Files 
      </h1>
      <h2 class="subtitle">
        Learn about hub gems!
      </h2>
      <% if current_user %>
      <div class="has-text-centered">
      <%= link_to "Check Gems here!", to="/jewels", class: "button is-primary" %>
      </div>
      <% else %>
      <h2 class="subtitle">
       Please sign up or login to view the gem!
      </h2>
      <% end %>
    </div>
  </div>
</section>


