<div class='container has-text-centered'>
    <h1>Your Favorites Gems</h1>
    <% @favorite.each do |f| %>
        <div class="columns container">
            <div class="column">
                <h2>UserID: <%= f.user_id %> </h2>
                <h3>JewelID: <%= f.jewel_id%> </h3>
            </div>
        </div>
    <% end %>
</div>