<div class='container has-text-centered'>
    <h1>Your Favorites Gems</h1>
    <% @favorite.each do |f| %>
        <div class="columns container">
            <div class="column">
                <h3>Gem Name: <%= f.j_name%></h3>
            </div>
        </div>
    <% end %> 
    <%= link_to "Back", to="/jewels", class: "button is-primary are-large column is-full" %>
</div>

