<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-primary">
      <strong class="has-text-primary">Hub Gems</strong> by <a href="https://hub.p2pls.com/" target="_" class="has-text-primary">Big Southern Software</a>.
    </p>
  </div>
</footer>