<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-primary">
      <strong>Hub Gems</strong> by <a href="https://hub.p2pls.com/" target="_">Big Southern Software</a>. The source code is MINE.
       The website content
      is licensed by Lanrna Sayasean MUAHAH.
    </p>
  </div>
</footer>